*
{
    margin:2px;
    padding:2px;
}
body
{
	background:#63e6be;
	font-family: Bahnschrift, Comic Sans MS, "Arial";
}
#CONTENIDO
{
    background:#15aabf;
	width:400px;
	margin:6px auto;
	border:2px solid black;
}
#ENCABEZADO
{
    background:#0b7285;
	width:400px;
	margin:6px auto;
	border:2px solid black;
}
#PIE
{
    background: #0b7285;
    width: 400px;
    margin: 6px auto;
    border: 2px solid black;
    color: white;
}
header
{
	color:white;
	border-bottom: 3px dashed black;
}
section
{
	border-bottom: 3px dashed black;
}

