*
{
    margin:2px;
    padding:2px;
}
body
{
	background:#63e6be;
	font-family: Bahnschrift, Comic Sans MS, "Arial";
}
#CONTENIDO
{
    background:#15aabf;
	width:400px;
	margin:6px auto;
	border:2px solid black;
}
#ENCABEZADO
{
    color:white;	
    background:#0b7285;
	width:400px;
	margin:6px auto;
	border:2px solid black;
}
#PIE
{
    background: #0b7285;
    width: 400px;
    margin: 6px auto;
    border: 2px solid black;
    color: white;
}
h1
{
	display:inline-block;
	position:relative;
}
h1::after,h1::before
{
	content:'';
	position:absolute;
	width:40px;
	height:2px;
	background-color:white;
	top:0.6em;
}
h1::before
{
	left:-50px;
}
h1::after
{
	right:-50px;
}

